@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .links > * {
  margin: 5px;
} */
.pages {
  margin: 1rem 0 1rem 0;
}
/* .active:hover {
  transform: scale(1.1);
  color: #7b84ae;
  transition: all 0.2s ease-in-out; add a smooth transition effect
} */
header nav h1 {
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}
/* page content */
main {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  margin: 40px auto;
}

.links-help a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
.links-help a.active {
  background: var(--primary);
}
.page404,
.page404 > * {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.rowerek {
  width: 40%;
  height: auto;
}
.carrer-layout {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  /* border: 1px solid var(--primary); */
}
.carrer-layout h2 {
  border-bottom: 1px solid var(--primary);
}
/* .carrer-layout * {
  margin: 1rem 0 1rem 0;
} */
.job-display {
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
  background-color: #252d46;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.job-display a:hover {
  color: var(--primary);
}
.job-display a {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
}
.job-display * {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 10px 0;
}
/* .scrollable-container {
  height: 200px;
  overflow-y: scroll;
} */
