@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* .links > * {
  margin: 5px;
} */
.pages {
  margin: 1rem 0 1rem 0;
}
/* .active:hover {
  transform: scale(1.1);
  color: #7b84ae;
  transition: all 0.2s ease-in-out; add a smooth transition effect
} */
header nav h1 {
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}
/* page content */
main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 40px auto;
}
/* help layout */

/* faq */

/* careers list */

/* careers details */

/* breadcrumbs */
.links-help a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
.links-help a.active {
  background: var(--primary);
}
/* .page404 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.rowerek {
  width: 60%;
  height: auto;
}
